################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/krc/v16
/Debug
/krc/Debug
/krc/Release
/Release
/krc_code_generate/Debug
